body {
    font-size: 12pt;
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

.calculator-shell {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 48pt;
    font-family: Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    padding-top: 4rem;
}

.display {
    text-align: right;
    justify-content: center;
    height: 100px;
    width: 415px;
    margin: auto;
    margin-top: 50px; 
    padding: 0px 190px 0px 190px;
    position: relative;
}

.previousNumbers {
    color: gray;
    font-size: 16pt;
    position: absolute;
    padding-right: 190px;
    padding-bottom: 10px;
    bottom: 65px;
    right: 0;
    max-height: 40px;
}

.numbersBox {
    font-size: 40pt;
    position: absolute;
    padding-right: 190px;
    padding-bottom: 10px;
    bottom: 0;
    right: 0;
    max-height: 80px;
}

.row {
    padding: 2px;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 600px;
}

.operator, .numbers {
    font-size: 32pt;
    cursor: pointer;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 2px solid #555555;
    border-radius: 5px;
    outline: none;
    background-color: #555555;
    color: white;
    transition-duration: 0.25s;
}

.operator:hover, .numbers:hover {
    background-color: #f2f2f2;
    border: 2px solid #555555;
    color: #555555;
}

#clear, #equal {
    width: 205px;
}

.github-link {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 25px;
    padding-left: 25px;
}

.created-by {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}
